<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
<mapper namespace="com.myweb.mapper.AdminMapper">
	<select id="pwcheck" resultType="Integer">
		SELECT COUNT(*)
		FROM PROJECT_WEB_USER
		WHERE WID='admin' AND PW=#{pwd}
	</select>
	
	<select id="adminSession" resultType="com.myweb.model.UserVO">
		SELECT *
		FROM PROJECT_WEB_USER
		WHERE WID='admin'
	</select>
	
	<select id="rentalList" resultType="com.myweb.model.RentalVO">
		SELECT *
		FROM PROJECT_RENTAL
	</select>
	
	<select id="rental" resultType="com.myweb.model.RentalVO">
		SELECT *
		FROM PROJECT_RENTAL
		WHERE RNO=#{rno}
	</select>
	
	<update id="cancelLaptop">
		UPDATE PROJECT_LAPTOP
		SET STOCK=STOCK+#{r_count}
		WHERE LNO=#{lno}
	</update>
	
	<update id="confirmCancel">
		UPDATE PROJECT_RENTAL
		SET STATE = 12
		WHERE RNO=#{rno}
	</update>
	
	<update id="accept">
		UPDATE PROJECT_RENTAL
		SET STATE = 2
		WHERE RNO=#{rno}
	</update>
	
	<update id="rconfirm">
		UPDATE PROJECT_RENTAL
		SET STATE = 3
		WHERE RNO=#{rno}
	</update>
	
	<update id="confirmReturn">
		UPDATE PROJECT_RENTAL
		SET STATE = 4
		WHERE RNO=#{rno}
	</update>
	
	<update id="checkLaptop">
		UPDATE PROJECT_RENTAL
		SET STATE = 5
		WHERE RNO=#{rno}
	</update>
</mapper>