<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
<mapper namespace="com.myweb.mapper.BoardMapper">
	<insert id="writeBoard">
		INSERT INTO PROJECT_BOARD(B_NUM, WID, EMAIL, B_SUBJECT, B_CONTENT, B_FILE, B_KIND, B_REGDATE, B_GROUP)
		VALUES(PROJECT_BOARD_SEQ.NEXTVAL, #{wid}, #{email}, #{b_subject}, #{b_content}, #{b_file}, #{b_kind}, SYSDATE, PROJECT_BOARD_SEQ.NEXTVAL)
	</insert>
	
	<select id="getList" resultType="com.myweb.model.BoardVO">		
		SELECT *
		FROM(
		    SELECT ROWNUM RN, B.*
		    FROM (
		        SELECT *
		        FROM PROJECT_BOARD
		        <where>
					<if test="cri.field != '' and cri.where == 'b_subject'">
						B_SUBJECT LIKE '%'||#{cri.field}||'%'
					</if>
				</where>
			ORDER BY B_GROUP DESC, B_LEVEL) B)
		<![CDATA[
		WHERE RN>=#{start} AND RN<=#{end}
		]]>
	</select>
	
	<select id="countBoard" resultType="Integer">
		SELECT COUNT(*)
		FROM PROJECT_BOARD
		WHERE B_KIND=#{kind}
		<if test="cri.field != '' and cri.where == 'b_subject'">
			AND B_SUBJECT LIKE '%'||#{cri.field}||'%'
		</if>
	</select>
	
	<select id="boardView" resultType="com.myweb.model.BoardVO">
		SELECT *
		FROM PROJECT_BOARD
		WHERE B_NUM=#{b_num}
	</select>
	
	<select id="addCount">
		UPDATE PROJECT_BOARD
		SET READCOUNT=READCOUNT+1
		WHERE B_NUM=#{b_num}
	</select>

</mapper>