<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
<mapper namespace="com.myweb.mapper.SupportMapper">

	<select id="rentalState" resultType="com.myweb.model.RentalVO">
		SELECT RNO, LNO, LNAME, NID, WID, R_COUNT, TOTALPRICE, TO_DATE(R_START,'YYYY-MM-DD') R_START, TO_DATE(R_END,'YYYY-MM-DD') R_END, STATE
		FROM PROJECT_RENTAL
		WHERE 
		<if test="nid == ''">
			WID=#{wid}
		</if>
		<if test="wid == ''">
			NID=#{nid}
		</if>
	</select>

	<select id="confirmPass" resultType="int">		
		SELECT COUNT(*)
		FROM PROJECT_WEB_USER
		WHERE WID=#{wid} AND PW=#{pass}
	</select>
	
	<update id="updateInfo">
		<choose>
			<when test="nid == '' or nid == null">
				UPDATE PROJECT_WEB_USER
				SET PW=#{pw}, AGE=#{age}, GENDER=#{gender}, EMAIL=#{email}, NAME=#{name}, BIRTHDAY=#{birthday}, TEL=#{tel}, ADDR=#{addr} 
				WHERE WID=#{wid}
			</when>
			<when test="wid == '' or wid == null">
				UPDATE PROJECT_NAVER_USER
				SET AGE=#{age}, GENDER=#{gender}, EMAIL=#{email}, NAME=#{name}, BIRTHDAY=#{birthday}, TEL=#{tel}, ADDR=#{addr} 
				WHERE NID=#{nid}
			</when>
		</choose>
	</update>
	
	<select id="confirmRental" resultType="Integer">
		SELECT COUNT(*)
		FROM (
			  SELECT *
			  FROM PROJECT_RENTAL
			  WHERE STATE=3
    			OR STATE=-1
    			OR STATE=11)
		WHERE WID=#{wid}
	</select>
	
	<delete id="deleteUser">
		DELETE FROM PROJECT_WEB_USER
		WHERE WID=#{wid}
	</delete>
	
	<update id="rentalCancel">
		UPDATE PROJECT_RENTAL
		SET STATE=11
		WHERE RNO=#{rno}
	</update>

</mapper>