<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
          
<mapper namespace="com.myweb.mapper.SupportMapper">

	<select id="rentalState" resultType="com.myweb.model.RentalVO">
		SELECT RNO, LNO, LNAME, NID, WID, R_COUNT, TOTALPRICE, TO_DATE(R_START,'YYYY-MM-DD') R_START, TO_DATE(R_END,'YYYY-MM-DD') R_END, STATE
		FROM PROJECT_RENTAL
		WHERE 
		<if test="nid == ''">
			WID=#{wid}
		</if>
		<if test="wid == ''">
			NID=#{nid}
		</if>
	</select>

	<select id="confirmPass" resultType="int">		
		SELECT COUNT(*)
		FROM PROJECT_WEB_USER
		WHERE WID=#{wid} AND PW=#{pass}
	</select>
	
	<update id="updateInfo">
		UPDATE PROJECT_WEB_USER
		SET PW=#{pw}, AGE=#{age}, GENDER=#{gender}, EMAIL=#{email}, NAME=#{name}, BIRTHDAY=#{birthday}, TEL=#{tel}, ADDR=#{addr} 
		WHERE WID=#{wid}
	</update>

</mapper>


<!-- 	"WID" VARCHAR2(20 BYTE),  -->
<!-- 	"PW" VARCHAR2(20 BYTE),  -->
<!-- 	"AGE" VARCHAR2(6 BYTE),  -->
<!-- 	"GENDER" VARCHAR2(6 BYTE),  -->
<!-- 	"EMAIL" VARCHAR2(30 BYTE),  -->
<!-- 	"NAME" VARCHAR2(20 BYTE),  -->
<!-- 	"BIRTHDAY" VARCHAR2(5 BYTE),  -->
<!-- 	"TEL" VARCHAR2(15 BYTE),  -->
<!-- 	"ADDR" VARCHAR2(50 BYTE),  -->